# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dist
dist
dist-ssr
server/dist
public/dist

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build

# misc
.DS_Store
*.pem

# debug
*.log

# local env files
.env
*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
!packages/database/.env

# turbo
.turbo

#cache
.cache

# storybook
storybook-static